{% extends 'mainlib/index.html' %}
{% load thumbnail %}

{% block title %}
  Книга #{{ book.tittle }}
{% endblock %}

{% block body %}
  <h1>Книга <strong>{{ book.tittle }}</strong></h1>
  <div>

  <div><a href="{% url 'mainlib:lib-list' %}">Вернуться к списку</a></div>

  <h3>{{ book.category }}</h3>
    <div>Описание: <em>{{ book.description }}</em></div>
    <br>  <div>Нюансы: {{book.peculiarities }}</div>
    <br><div>Цена: <h3>{{ book.price }}</h3></div>
    <div>Наличие: {{ book.stock }}</div>
    <div>Продано штук: {{ book.sale }}</div>
    <p>Обложка: </p>
          {% thumbnail book.image "325x240" crop="center" as im %}
            <img src="{{ im.url }}" alt="House {{ book.tittle }}">
          {% endthumbnail %}
      <div>_______</div>
    <div>Ссылка на компьютере: <link>{{ book.in_pc_link }}</link></div>
    <div>Примерное расположение на полках: {{ book.in_room_place }}</div>
    <div>Archived: {{ book.archived }}</div>
      <br>
    <div><a href="{% url 'mainlib:book-update' pk=book.pk %}">Изменить книгу</a>
    <a href="{% url 'mainlib:add_image' pk=book.pk %}"><h3>Добавить изображение</h3></a></div>


  </div>

{#  <div>#}
{#    <a href="{% url 'mainlib:achive' pk=book.pk %}">Архивировать (больше не показывать в списке)</a>#}
{#  </div>#}

    {% if images %}
        {% for image in images %}
          {{ image.name }}
          {% thumbnail image.image "325x240" crop="center" as im %}
                <img src="{{ im.url }}" alt="изображение">
            <p class="center"><a href="{{ image.image.url }}">увеличить</a></p>
          {% endthumbnail %}
            <p class="center"><button class="delete-image-button" data-image-id="{{ image.id }}">Удалить</button></p>
        {% endfor %}
    {% else %}
        <p>Изображений нет.</p>
    {% endif %}

{% block js %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
  $(document).ready(function() {
    $('.delete-image-button').click(function() {
      var imageId = $(this).data('image-id');
      $.ajax({
        url: '/delete_image/',
        type: 'POST',
        data: { 'image_id': imageId },
        success: function() {
          $('.image-container[data-image-id=' + imageId + ']').remove();
          setTimeout(function() {
            location.reload();
          }, 500);
        }
      });
    });
  });
  </script>
{% endblock %}



{% endblock %}