{% extends "mainlib/index.html" %}
{% load thumbnail %}

{% block title %}
  Lib list
{% endblock %}

{% block body %}
  <div>
    <a href="{% url 'mainlib:create-book' %}">Добавить новую книжку</a>
  </div>
    <h3>Форма поиска</h3>
    <form method="get">
      <input type="text" name="q" placeholder="Поиск">
      <button type="submit">Найти</button>
    </form>
  <h1>Книжки в запасах:</h1>
    {% for book in books %}
       <strong><p>{{ book.title }}</p></strong>
        <a href="{% url 'mainlib:book-details' pk=book.pk %}"><h2>{{ book.tittle }}</h2>
            {% thumbnail book.image "100x100" crop="center" as im %}
            <img src="{{ im.url }}" alt="House {{ book.tittle }}">
          {% endthumbnail %}</a>
       <p>Расположение на компьютере: {{ book.in_pc_link }}</p>
        <p></p>
       <p>Цена: {{ book.price }}</p>
       <p>_______</p>

   {% endfor %}

  <div>
    <a href="{% url 'mainlib:create-book' %}">Добавить новую книжку</a>
      <br>
    <a href="{% url 'mainlib:index' %}">Назад</a>
  </div>

{% endblock %}
