{% extends "mainlib/index.html" %}
{% load thumbnail %}

{% block title %}
  Lib list
{% endblock %}

{% block body %}
  <h1>Книжки в запасах:</h1>
    {% for book in books %}
       <strong><p>{{ book.title }}</p></strong>
        <a href="{% url 'mainlib:book-details' pk=book.pk %}"><h2>{{ book.tittle }}</h2>
            {% thumbnail book.image "325x240" crop="center" as im %}
            <img src="{{ im.url }}" alt="House {{ book.tittle }}">
          {% endthumbnail %}</a>
       <p>Расположение на компьютере: {{ book.in_pc_link }}</p>
        <p></p>
       <p>Цена: {{ book.price }}</p>
       <p>_______</p>

   {% endfor %}

  <div>
    <a href="{% url 'mainlib:create-book' %}">Добавить новую книжку</a>
  </div>

{% endblock %}
